name: Build Portable MLIR Toolchain (staged)

on:
  workflow_dispatch:
    inputs:
      ref:
        description: "llvm-project ref or tag (e.g., llvmorg-21.1.0)"
        required: true
        type: string
      release:
        description: "Whether to create a GitHub Release with the built artifacts"
        required: true
        type: boolean
      tag:
        description: "Tag for the GitHub Release"
        required: false
        type: string
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  # linux:
  #   uses: ./.github/workflows/build-mlir-linux.yml
  #   with:
  #     ref: ${{ inputs.ref || 'llvmorg-21.1.5' }}

  # macos:
  #   uses: ./.github/workflows/build-mlir-macos.yml
  #   with:
  #     ref: ${{ inputs.ref || 'llvmorg-21.1.5' }}

  # windows:
  #   uses: ./.github/workflows/build-mlir-windows.yml
  #   with:
  #     ref: ${{ inputs.ref || 'llvmorg-21.1.5' }}

  linux:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Linux build step placeholder" > linux.txt
      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: linux
          path: linux.txt

  macos:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "macOS build step placeholder" > macos.txt
      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: macos
          path: macos.txt

  windows:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Windows build step placeholder" > windows.txt
      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: windows
          path: windows.txt

  release:
    needs: [linux, macos, windows]
    if: ${{ inputs.release == true || true }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
      - name: Download artifacts
        uses: actions/download-artifact@v5.0.0
        with:
          path: artifacts
      - name: Create GitHub Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create ${{ inputs.tag || 'test-release-3'}} \
                            artifacts/**/* \
                            --title "Test Release" \
                            --notes "This is a test release. It will be deleted."
