name: Release Drafter

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read

jobs:
  update_release_draft:
    name: Run
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6.1.0
        id: release-drafter
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Upload installation scripts
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: gh release upload ${{ steps.release-drafter.outputs.tag_name }} installation/setup-mlir.sh installation/setup-mlir.ps1 --clobber
        env:
          GITHUB_TOKEN: ${{ github.token }}
